[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-rest-framework-mongoengine = "*"
djangorestframework = "*"
mongoengine = "*"
django-cors-headers = "*"
djongo = "*"

[requires]
python_version = "3.6"
